<div class="container">
    <div class="row">
        <div class="col-12">
            <kendo-grid
                baseDataBinding
                [kendoGridInCellEditing]="createFormGroup"
                (dataStateChange)="onStateChange($event)"
                (cellClick)="onCellClick($event)"
                (cellClose)="onCellClose($event)"
                [pageSize]="10"
                [pageable]="kSettings.pageable"
                [sortable]="kSettings.sortable"
                [filterable]="kSettings.filterable"
                [groupable]="kSettings.groupable"
                [height]="kSettings.height"
                [navigable]="kSettings.navigable"
                >        
                <kendo-grid-column *ngFor="let col of columns" [field]="col.field" [title]="col.title" [filter]="col.type" [format]="col.format" 
                                    [editor]="col.type">
                </kendo-grid-column>
            </kendo-grid>
        </div>     
    </div>
</div>
