<div class="container">
    <div class="row">
        <div class="col-12">
            <p>{{ title }}
                <input type="text" name="title" [(ngModel)]="title" >
                <button type="button" class="btn btn-primary" (click)="testDynamicComponent(dynMessage)">Add dynamic component</button>
            </p>
            <div #dynamicContainer></div>
            <div>
                <form (ngSubmit)="onSubmit()" #testForm="ngForm">
            
                    <div class="col-6 form-group">
                        <label for="nickname">parent control</label>
                        <input type="text" class="form-control" [(ngModel)]="account.nickname" id="nickname" name="nickname" required>
                    </div>
                    <account [(account)]="account" [testForm]="testForm"></account>
                    <button class="btn btn-primary" [disabled]="!testForm.valid">submit</button>
                </form>
            </div>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
